../photography_portfolio/
../portfolio/
../to_do_list_app/

# Ignore the node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore external directories
../photography_portfolio/
../portfolio/
../to_do_list_app/

# Visual Studio Code
.vscode/

 # Ignore the node_modules directory
../photography_portfolio/
../portfolio/
../to_do_list_app/

